#icon{
	width:16vh;
	height:16vh;
	border-radius: 2vh;
	border: 1px solid;
	border-color: white;
	margin: 10px;
	text-align: center;
	overflow: hidden
}

#icon:hover{
	background-color: rgba(0, 206, 245, 0.27);
}

body{
	background: #5e61ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #5e61ff 0%, #ef017c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e61ff), color-stop(100%,#ef017c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e61ff 0%,#ef017c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e61ff 0%,#ef017c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e61ff 0%,#ef017c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5e61ff 0%,#ef017c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e61ff', endColorstr='#ef017c',GradientType=0 ); /* IE6-9 */

	background-repeat:no-repeat;
	background-attachment:fixed;
}

#url-text{
	color:white;
	font-size: 2vh;
	max-width: 168px;
	word-wrap: break-word;
}

body{
	height:100vh
}

#search-box{
	width:100%;
	margin-top: 100px;
	margin-bottom : 40px;
	font-size: 20px;
}

#icon-image{
	height: 5vh;
	width: 5vh;
	margin: auto;
	margin-top: 1.6vh;
	margin-bottom: 0.8vh;
	display:block;
}

#mostVisited_div{
	margin-left: 10px;
}