doctype html
html
  head
    title Smarter New Tab Page

    script(src="jquery-2.1.0.min.js")
    script(src="popup.js")
    //- script(src="pjscrape/client/pjscrape_client.js")
    link(rel="stylesheet", type="text/css", href="style.css")
    link(rel="stylesheet", type="text/css", href="bootstrap/css/bootstrap.css")

  body
    div.container
        div.row
            h2 Most Visited:
            div(id='mostVisited_div')

