doctype html
html
  head
    title Smarter New Tab Page

    script(src="javascript/jquery-2.1.0.min.js")
    script(src="javascript/popup.js")
    //- script(src="pjscrape/client/pjscrape_client.js")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    link(rel="stylesheet", type="text/css", href="css/bootstrap/css/bootstrap.css")

  body
    div.container

        input(type="Search" class="form-control" id="search-box" placeholder="Search" autofocus)

        div(class="row" id='mostVisited_div') 
            //- h2 Most Visited:
            //- div(id='mostVisited_div' class="row")

